<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visa Bulletin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Visa Bulletin Checker</h1>
  <p>We'll check, so you don't have to!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>New User</h3>
      <p>Sign up here, we collect limited data to proctect your privacy.</p>
        <a href="newUser.html" class="button">New User</a>
    </div>
    <div class="col-sm-4">
      <h3>Unsubscribe</h3>
      <p>Hopefully you're saying goodbye because you number is up!</p>
        <a href="unsubscribe.html" class="button">Unsubscribe</a>
    </div>
    <div class="col-sm-4">
      <h3>Modify Information</h3>
      <p>You need to change things, no worries!</p>
    </div>
  </div>
</div>

</body>
</html>
